@font-face {
  font-family: "leaguespartanBold";
  src: url("./fonts/leaguespartan-bold.ttf");
}
@font-face {
  font-family: "popinsLight";
  src: url("./fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("./fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-family: "myriadPro";
  src: url("./fonts/myriad-pro-regular.ttf");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 100%;
  text-decoration: none;
  font: inherit;
  color: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
  box-sizing: border-box;
}

.wrapper{
  max-width: 1226px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}


/* header */

.line{
   height:100%;
   width: 1px;
  opacity: 0.1;
  background-color: rgb(180, 178, 178);
}
.linesWrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.header{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  padding: 40px 0;
}
.menu{
  display: flex;
  justify-content: space-between;
  width: 66%;
  font-size: 8pt;
}
.menu li{
  font-family: 'leaguespartanBold';
  letter-spacing: 5px;
}
.logo{
  padding-left: 1px;
}
/* surfingSlider */


.surfingSliderWrapper{
  width: 100%;
position: relative;
height: 573px;
}
.surfingTextWrapper{
  position: absolute;
  top: 36%;
  z-index: 1;
}
.surfingTextWrapper span{
  letter-spacing: 1px;
  font-size: 8pt;
  color: #5da8ef;
  font-family: 'leaguespartanBold';
}
.surfingTextWrapper h1{
  font-size: 46pt;
  padding: 20px 0;
  font-family: 'PlayfairDisplay';
}
.surfingTextWrapper p{
  font-size: 12pt;
  line-height: 1.7;
  color:#8f8f8f;
  font-family: 'popinsLight';
}
.sliderImage{
  display: flex;
  position: absolute;
  right: 0;
  transform: translate(0);
  max-width: 1018px;
  width: 100%;
  height: 570px;
}
.sliderImage img{
  width: 100%;
  height: 100%;
  box-shadow:  0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
}
.arrows{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
}
.arrows i{
  font-size: 25px;
  cursor: pointer;
  opacity: 0.5
}
.arrows div{
  padding: 0 15px;
  font-size: 10pt;
  font-family: 'leaguespartanBold';
}
.divider{
  color: #8f8f8f;
  opacity: 0.5;
  padding: 0 6px;
}
.current{
  color: #5da8ef;
}

.active{
  color: #5da8ef;
}

.rightColumn{
  position: absolute;
  right: -230px;
  font-family: 'leaguespartanBold';
  top: 55px;
  transform: rotate(-90deg);
  font-size: 8pt;
}
.rightColumn span{
  padding: 0 7px;
  opacity: .2;
  letter-spacing: 7px;
}

.socialIcons{
  display: flex;
  flex-direction: column;
  width: 20px;
  position: absolute;
  bottom: 0;
  right: -80px;

}
  
.socialIcons img{
  padding: 10px 0;
}
/* slider */

/* SurfingVideo Section */


.surfingVideo{
  padding-top: 200px;
  text-align: center;
  font-family: 'MyriadPro';
  opacity: 0.9;
  font-size: 26pt;
  max-width: 743px;
  width: 100%;
  line-height: 1.6;
  margin: 0 auto;
}

.surfingVideo p{
  color: #333333;
}

.surfingVideo span{
  color: #333333;
  font-size: 8pt;
  letter-spacing: 7px;
  font-family: 'leaguespartanBold';
}

hr{
  transform: rotate(-90deg);
  width: 110px;
  height: 3px;
  background: #5da8ef;
  border: none;
  margin: 80px auto 120px auto;
}

.imgTextSection{
  width: 50%;
  display: flex;
 align-items: center;
  flex-direction: column;
}
.paragraphWrapper{
  width: 50%;
}
.imgTextSection p{
  margin: 0 auto;
  padding-top: 40px;
  line-height: 1.6;
  font-family: 'popinsLight';
  font-size: 14px;
  opacity: 0.65;
}

.read-more{
  padding-top: 50px;
  font-size: 7pt;
  font-family: 'leaguespartanBold';
  cursor: pointer;
  letter-spacing: 5px;
  width: 103px;
  transition: .4s;
}
.read-more:hover{
  color: #5da8ef;
}
.underLine{
  width: 95%;
  height: 2px;
  background-color: #5da8ef;
  color: #5da8ef;
  margin: 6px 5px 0 0;

}
.videoSectionWrapper{
  display: flex;
  position:relative
}
.video{
  width: 705px;
  height: 546px;
  transform: translate(-90px);
  position: relative;
}


.video button{
  border: none;
  border-radius: 50%;
  outline: none;
  padding:25px;
  position: absolute;
  top: 50%;
  font-size: 15px;
  cursor: pointer;
  color: white;
  background-color: #5da8ef;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
}
.video:hover button{
  display: block;
}

/* Shop */
.relative{
  position: relative;
}

.background{
  position: absolute;
  z-index: -2;
  /* top: -216px; */
  /* left: 0;
  right: 0; */
  width: 100%;
  top: 30%;
}
.shopHeading{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  position: relative;
}
.shopHeading span{
  font-family: 'leaguespartanBold';
  color: #5da8ef;
  font-size: 8pt;
  letter-spacing: 8px;
}
.shopHeading h1{
  font-family: 'PlayfairDisplay';
  font-size: 42pt;
  color: #333333;
  padding-top: 3px;
}
.itemsWrapper{
  padding-top: 176px;
  display: flex;
  justify-content:space-between;
}


.surfBackground{
  width: 249px;
  height: 323px;
  background-color: #e7e7e7;
  position: relative;
}

.itemsWrapper img{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
}
.surfImg{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  height: 450px;
}
.infoWrapper{
  position: absolute;
  right: -152px;
  top: 70px;
  display: flex;
  flex-direction: column;
  
}
.infoWrapper p{
  font-family: 'myriadPro';
  color: #7a7a7a;
  letter-spacing: 3px;
}
.infoWrapper h1{
  font-family: 'PlayfairDisplay';
  color: #504f4f;
  padding-top: 5px;
  font-size: 20pt;
  z-index: 12;
}
.price{
  font-family: 'popinsLight';
  color: #ce60a8;
  font-size: 20pt;
}
.buy{
  font-family: 'leaguespartanBold';
  font-size: 7pt;
  color: #504f4f;
  padding-top: 7px;
  letter-spacing: 5px;
  
}
.priceWrapper{
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  margin: 0 60px;
}
.showAll{
   max-width: 1226px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.slick-slide{
  display: flex;
  justify-content: space-between;
}
.slick-current{
  width: 100px;
}
.surfboards{
  min-width: 1399px;
  width: 100%;
}
.slick-next::before{
 border: none;
}
button.slick-arrow.slick-prev,button.slick-arrow.slick-next {
  top: 60%;
}


button.slick-arrow.slick-prev:before{
  content: '\2039';
  font-size:50px;
  color: gray;
}
button.slick-arrow.slick-next:before{
  content: '\203a';
  font-size: 50px;
  color: gray;
}
div.slick-slide div{
  outline: none;
}
button.slick-arrow.slick-prev{
  left: -115px;
}


/* surfTraining */

.surfTraining{
  padding-top: 178px;
  display: flex;
  justify-content: space-between;
}
.numWrapper{
  position: relative;
  width: 100%;
}
.num{

  font-size: 130pt;
    font-family: 'leaguespartanBold';
    color: #f9f9f9;
}
.article{
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.surfTraining img{
  flex: 2;
}
.article h1{
  position: absolute;
  bottom: 60px;
  font-size: 42pt;
  font-family: 'PlayfairDisplay';
  flex: 1;
}
.rectangle{
  width: 23px;
  background-color: #5da8ef ;
  height: 2px;
  margin-bottom: 20px;
}
.paragrapH{
   line-height: 1.5;
  font-size: 13pt;
  font-family: 'popinsLight';
  color: #cccccc;
}

.img{
  position: relative;

}
.img span{
  position: absolute;
  transform: rotate(-90deg);
  top: 40px;
  right: -65px;
  font-family: 'leaguespartanBold';
  font-size: 7pt;
  color: #e7e7e7;
  letter-spacing: 3px;
}

  /* //////////////PointBreak ////////////*/

  .pointBreakWrapper{
    padding-top: 120px;
    position: relative;
 
  }
  .imgArticleWrapper{
    display: flex;
    justify-content: center;
    flex: 2;
    padding-left: 100px;
  }
  
 .articleimg{
   display: flex;
 }

  .articleimg span{
    display: flex;
    align-items: flex-end;
    height: 98px;
    transform: rotate(-90deg);
    letter-spacing: 3px;
    font-size: 8pt;
    font-family: 'leaguespartanBold';
    opacity: .2;
    margin-right: 12px;
  }
 
  .headingWrapper{
    position: relative;
  }
  .heading h1{
    position: absolute;
    top: 83px;
  font-size: 42pt;
  font-family: 'PlayfairDisplay';
  }
  .heading{
    display: flex;
    flex-direction: column;
  }
 
  .article2  { 
    padding: 20px 20px 0 70px;
    flex: 1;
  }


  .background2{
    position: absolute;
    z-index: -2;
    /* top: 323px; */
    bottom: 5%;
    width: 100%;
    width: 100%;
  }

  /* JoinClub ///////////*/

  .joinClub hr{
    margin: 160px auto 130px auto;
  }
  .joinClub h1{
    font-size: 42pt;
    font-family: 'PlayfairDisplay';
    color: #333333;
  }
  .subscribeWrapper{
    width: 580px;
    margin: 0 auto;
    text-align: center;
  }
  .subscribeWrapper p{
    margin: 30px auto 40px auto;
  }
  .email{
    display: flex;
  }
  .email input{
    width: 92%;
    outline: none;
    padding: 15px;
    border: 2px solid rgba(243, 243, 243, 0.486);
    background-color: #f5f5f5;
  }
  .email input::placeholder{
    font-size: 7pt;
    font-family: 'leaguespartanBold';
    cursor: pointer;
    font-weight: bold;
    padding: 15px;
    letter-spacing: 5px;
  }
  .email button{
    width: 8%;
    border: none;
    background-color:#5da8ef ;
    cursor: pointer;
    outline: none;
  }
  .email i {
    font-size: 25px;
    color: white;
  }


  /* contact */
  .contact{
    padding-top: 144px;
    padding-bottom: 90px;
    width: 100%;
    display: flex;
  }
  
.contactImg{
  max-width: 721px;
  width: 100%;
  height: 476px;
  position: relative;
}
.contactImg img{
  width: 100%;
  position: absolute;
  left: -107px;
}
  .contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .ourCamp{
    letter-spacing: 3px;
    font-size: 8pt;
    font-family: 'leaguespartanBold';
    opacity: .2;
  }
  .location{
    display: flex;
    flex-direction: column;
    font-size: 30pt;
    font-family: 'PlayfairDisplay';
    color: #333333;
    padding: 35px 0 0 40px;
  
  }
  .location span{
    padding-top: 10px;
  }
  .contactReadMore div{
    width: 129px;
  }


  /* footer */


  .footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 60px;
  }
  .footer ul{
    padding: 40px 0;
    width: 450px;
  }
  .socialIcons2 :nth-child(2){
    padding: 0 30px
  }


  /* Responsive */
  @media only screen and (max-width: 1645px){
.surfboards{
  min-width: 1379px;
}  
  }
  @media only screen and (max-width: 1336px){
    .wrapper{
      max-width: 1200px;
      width: 100%;
    }
    .rightColumn{
      right:-195px
    }
    .socialIcons{
      right: -46px;
    }
    button.slick-arrow.slick-prev {
      left: -30px;
  }
  .surfBackground {
    width: 230px;
    height: 300px;
  }
  .infoWrapper{
    right: -140px;
  }
.surfboards{
  min-width: 1179px;
}
.infoWrapper h1,.price{
  font-size: 18pt;
}
.infoWrapper p{
  font-size: 10pt;
}
.num{
  font-size: 117pt;
}
.article h1{
  font-size: 35pt;
}
.heading h1{
  font-size: 35pt;
  top: 76px;
}
.background2{
  bottom: 8%;
}
.background{
  top: 32%;
}
@media only screen and (max-width: 1025px){
  .wrapper{
    max-width: 850px;
  }
  .rightColumn{
    right:-185px
  }
  .socialIcons{
    right: -36px;
  }
  .header{
    width: 100%;
  }
  .surfingTextWrapper{
    top: 10px;
    left: 10px;
  }
  .surfingTextWrapper p{
    color: black;
  }
  .imgTextSection{
    width: 100%;
  }
  .videoSectionWrapper{
    flex-direction: column;
  }
  .video{
    transform: translate(0);
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
  .surfboards{
    min-width: 0;
  }
  .article h1{
    font-size: 18pt;
    bottom: 54px;
    left:10px
  }
  .heading h1{
    top: 73px;
    left: 4px;
    font-size: 30pt;
  }
  .article{
    flex: 1;
  }
  .num{
    font-size: 110pt;
  }
  .surfTraining img{
    width: 100%;
  }
  .paragrapH{
    font-size: 10pt;
  }
  .imgArticleWrapper{
    padding-left: 0;
  }
  .articleimg span {
    position: absolute;
    left: -111px;
  }
  .location{
    font-size: 20pt;
    padding: 34px 0 ;
  }
  .background{
    top: 42%;
  }
  .background2{
    bottom: 11%;
  }
  .contactReadMore :nth-child(1){
    padding-top: 26px;
  }
}

}