@font-face {
  font-family: "leaguespartanBold";
  src: url("./fonts/leaguespartan-bold.ttf");
}
@font-face {
  font-family: "popinsLight";
  src: url("./fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("./fonts/PlayfairDisplay-Bold.ttf");
}
@font-face {
  font-family: "myriadPro";
  src: url("./fonts/myriad-pro-regular.ttf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 100%;
  text-decoration: none;
  font: inherit;
  color: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.wrapper{
  max-width: 1226px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
/* header */
.line{
   height:100%;
   width: 1px;
  opacity: 0.1;
  background-color: rgb(180, 178, 178);
}
.linesWrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.header{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  padding: 40px 0;
}
.menu{
  display: flex;
  justify-content: space-between;
  width: 66%;
  font-size: 9px;
}
.menu li{
  font-family: 'leaguespartanBold';
  letter-spacing: 5px;
  transition: .3s;
}
.menu li:hover{
  color: #5da8ef;
}
.logo{
  padding-left: 1px;
}
/* surfingSlider */
.surfingSliderWrapper{
  width: 100%;
position: relative;
height: 573px;
}
.surfingTextWrapper{
  position: absolute;
  top: 36%;
  z-index: 1;
}
.initial{
  opacity: 0.01
}
.fadeIn{
  opacity: 1;
  transition: 500ms ease-in-out;
  
}

.surfingTextWrapper span{
  letter-spacing: 5px;
  font-size: 7pt;
  color: #5da8ef;
  opacity: 0.9;
  font-family: 'leaguespartanBold';
}
.surfingTextWrapper h1{
  font-size: 46pt;
  padding: 20px 0;
  font-family: 'PlayfairDisplay';
}
.surfingTextWrapper p{
  font-size: 14px;
  line-height: 1.7;
  font-family: 'popinsLight';
  color: #616161;
  opacity: 0.65;
}
.sliderImage{
  display: flex;
  background-color: rgb(49, 49, 49);
  position: absolute;
  right: 0;
  transform: translate(0);
  max-width: 1018px;
  width: 100%;
  height: 570px;
}
.sliderImage img{
  width: 100%;
  height: 100%;
  box-shadow:  0 15px 15px 25px rgba(165, 165, 165, 0.055), 0 5px 15px 5px rgba(199, 199, 199, 0.972);
}
.arrows{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  font-size: 25px;
}
.opacity{
  opacity: 0.1;
}
.arrows i{
  cursor: pointer;
}
.arrows div{
  padding: 0 15px;
  font-size: 10pt;
  font-family: 'leaguespartanBold';
  margin-top: 4px;
}
.divider{
  color: #8f8f8f;
  opacity: 0.5;
  padding: 0 6px;
}
.current{
  color: #5da8ef;
}
.active{
  color: #5da8ef;
  font-size:35px;
}
.rightColumn{
  position: absolute;
  right: -230px;
  font-family: 'leaguespartanBold';
  top: 55px;
  transform: rotate(-90deg);
  font-size: 8pt;
}
.rightColumn span{
  padding: 0 7px;
  opacity: .2;
  letter-spacing: 7px;
}
.socialIcons{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 3px;
  right: -80px;
  font-size: 20px;
  color: #ebebeb;
  justify-content: space-between;
  height: 127px;
  align-items: center;
}
.socialIcons img{
  padding: 10px 0;
}
/* slider */
/* SurfingVideo Section */
.surfingVideo{
  padding-top: 200px;
  text-align: center;
  font-family: 'MyriadPro';
  font-size: 24pt;
  max-width: 743px;
  width: 100%;
  line-height: 1.3;
  margin: 0 auto;
}
.surfingVideo p{
  color: #333333;
  opacity: .9;
}
.surfingVideo span{
  color: #333333;
  font-size: 10px;
  letter-spacing: 7px;
  font-family: 'leaguespartanBold';
}
hr{
  transform: rotate(-90deg);
  width: 110px;
  height: 3px;
  background: #5da8ef;
  border: none;
  margin: 80px auto 120px auto;
}
.imgTextSection{
  width: 50%;
  display: flex;
 align-items: center;
  flex-direction: column;
}
.paragraphWrapper{
  width: 54%;
}
.imgTextSection p{
  margin: 0 auto;
  padding-top: 40px;
  line-height: 1.8;
  font-family: 'popinsLight';
  font-size: 14px;
  color: #616161;
  opacity: 0.65;
}
.read-more{
  padding-top: 50px;
  font-size: 7pt;
  font-family: 'leaguespartanBold';
  cursor: pointer;
  letter-spacing: 5px;
  width: 103px;
  transition: .4s;
}
.read-more:hover{
  color: #5da8ef;
}
.underLine{
  width: 95%;
  height: 2px;
  background-color: #5da8ef;
  color: #5da8ef;
  margin: 6px 5px 0 0;

}
.videoSectionWrapper{
  display: flex;
  position:relative
}
.video{
  width: 705px;
  height: 546px;
  transform: translate(-90px);
  position: relative;
}
.video button{
  border: none;
  border-radius: 50%;
  outline: none;
  padding:25px;
  position: absolute;
  top: 50%;
  font-size: 15px;
  cursor: pointer;
  color: white;
  background-color: #5da8ef;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
}
.video:hover button{
  display: block;
}

/* Shop */
.relative{
  position: relative;
}
.background{
  position: absolute;
  z-index: -2;
  width: 100%;
  top: 30%;
}
.shopHeading{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  position: relative;
}
.shopHeading span{
  font-family: 'leaguespartanBold';
  color: #5da8ef;
  font-size: 8pt;
  letter-spacing: 8px;
}
.shopHeading h1{
  font-family: 'PlayfairDisplay';
  font-size: 42pt;
  color: #333333;
  padding-top: 3px;
}
.itemsWrapper{
  padding-top: 176px;
  display: flex;
  justify-content:space-between;
}
.surfBackground{
  width: 249px;
  height: 323px;
  background-color: #e7e7e7;
  position: relative;
}

.itemsWrapper img{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
}
.surfImg{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  height: 450px;
}
.infoWrapper{
  position: absolute;
  right: -152px;
  top: 70px;
  display: flex;
  flex-direction: column;
}
.infoWrapper p{
  font-family: 'myriadPro';
  color: #7a7a7a;
  letter-spacing: 3px;
}
.infoWrapper h1{
  font-family: 'PlayfairDisplay';
  color: #504f4f;
  padding-top: 5px;
  font-size: 20pt;
  z-index: 12;
}
.price{
  font-family: 'popinsLight';
  color: #ce60a8;
  font-size: 20pt;
}
.buy{
  font-family: 'leaguespartanBold';
  font-size: 8pt;
  color: #504f4f;
  padding-top: 7px;
  letter-spacing: 5px;
  cursor: pointer;
}
.priceWrapper{
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  margin: 0 60px;
}
.showAll{
   max-width: 1226px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.slick-slide{
  display: flex;
  justify-content: space-between;
}
.slick-current{
  width: 100px;
}
.surfboards{
  min-width: 1399px;
  width: 100%;
}
.slick-next::before{
 border: none;
}
button.slick-arrow.slick-prev,button.slick-arrow.slick-next {
  top: 60%;
}
button.slick-arrow.slick-prev:before{
  content: '\2039';
  font-size:50px;
  color: gray;
}
button.slick-arrow.slick-next:before{
  content: '\203a';
  font-size: 50px;
  color: gray;
}
div.slick-slide div{
  outline: none;
}
button.slick-arrow.slick-prev{
  left: -115px;
}
/* surfTraining */
.surfTraining{
  padding-top: 178px;
  display: flex;
  justify-content: space-between;
}
.numWrapper{
  position: relative;
  width: 100%;
}
.num{
  font-size: 130pt;
    font-family: 'leaguespartanBold';
    color: #f9f9f9;
}
.article{
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.article h1{
  position: absolute;
  bottom: 60px;
  font-size: 42pt;
  font-family: 'PlayfairDisplay';
  flex: 1;
}
.rectangle{
  width: 23px;
  background-color: #5da8ef ;
  height: 2px;
  margin-bottom: 20px;
}
.paragrapH{
   line-height: 2;
  font-size: 14px;
  font-family: 'popinsLight';
  color: #616161;
  opacity: 0.65;
}
.img{
  position: relative;

}
.img span{
  position: absolute;
  transform: rotate(-90deg);
  top: 44px;
  right: -75px;
  font-family: 'leaguespartanBold';
  font-size: 7pt;
  color: #0b0c11;
  opacity: .2;
  letter-spacing: 4px;
}
  /* //////////////PointBreak ////////////*/
  .pointBreakWrapper{
    padding-top: 120px;
    position: relative;
 
  }
  .imgArticleWrapper{
    display: flex;
    justify-content: center;
    flex: 2;
    padding-left: 100px;
  }
 .articleimg{
   display: flex;
 }
  .articleimg span{
    display: flex;
    align-items: flex-end;
    height: 100px;
    transform: rotate(-90deg);
    letter-spacing: 4px;
    font-size: 7pt;
    font-family: 'leaguespartanBold';
    color: #0b0c11;
    opacity: .2;
    margin-right:15px;
  }
  .headingWrapper{
    position: relative;
  }
  .heading h1{
    position: absolute;
    top: 83px;
  font-size: 42pt;
  font-family: 'PlayfairDisplay';
  }
  .heading{
    display: flex;
    flex-direction: column;
  }
 
  .article2  { 
    padding: 20px 20px 0 70px;
    flex: 1;
  }
  .background2{
    position: absolute;
    z-index: -2;
    bottom: 1%;
    width: 100%;
    width: 100%;
  }
  /* JoinClub ///////////*/
  .joinClub hr{
    margin: 160px auto 130px auto;
  }
  .joinClub h1{
    font-size: 42pt;
    font-family: 'PlayfairDisplay';
    color: #333333;
  }
  .subscribeWrapper{
    width: 580px;
    margin: 0 auto;
    text-align: center;
  }
  .subscribeWrapper p{
    margin: 30px auto 40px auto;
  }
  .email{
    display: flex;
  }
  .email input{
    width: 91%;
    outline: none;
    padding: 15px;
    border: 2px solid rgba(243, 243, 243, 0.486);
    background-color: #f5f5f5;
  }
  .email input::placeholder{
    font-size: 7pt;
    font-family: 'leaguespartanBold';
    cursor: pointer;
    font-weight: bold;
    padding: 15px;
    letter-spacing: 5px;
  }
  .email button{
    width: 50px;
    border: none;
    background-color:#5da8ef ;
    cursor: pointer;
    outline: none;
  }
  .email button:hover i{
      opacity: 0.6;
  }
  .email i {
    font-size: 25px;
    color: white;
    transition: 0.3s;
  }
  /* contact */
  .contact{
    padding-top: 144px;
    padding-bottom: 90px;
    width: 100%;
    display: flex;
  }
.contactImg{
  max-width: 721px;
  width: 100%;
  height: 476px;
  position: relative;
}
.contactImg img{
  width: 100%;
  position: absolute;
  left: -107px;
}
  .contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .ourCamp{
    letter-spacing: 3px;
    font-size: 8pt;
    font-family: 'leaguespartanBold';
    opacity: .2;
  }
  .location{
    display: flex;
    flex-direction: column;
    font-size: 30pt;
    font-family: 'PlayfairDisplay';
    color: #333333;
    padding: 35px 0 0 40px;
  
  }
  .location span{
    padding-top: 10px;
  }
  .contactReadMore .read-more{
    width: 129px;
  }
  /* footer */
  .footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 60px;
  }
  .footer ul{
    padding: 40px 0;
    width: 450px;
  }
  .socialIcons2 :nth-child(2){
    padding: 0 30px
  }
  .footer img{
    cursor: pointer
  }
  /* Responsive */
  @media only screen and (max-width: 1645px){
.surfboards{
  min-width: 1368px;
}  
  .background2{
    bottom: 5%;
  }
  }
  @media only screen and (max-width: 1598px){
    .wrapper{
      max-width: 1200px;
      width: 100%;
    }
    .rightColumn{
      right:-195px
    }
    .socialIcons{
      right: -46px;
    }
    button.slick-arrow.slick-prev {
      left: -30px;
  }
  .surfBackground {
    width: 230px;
    height: 300px;
  }
  .infoWrapper{
    right: -140px;
  }
.surfboards{
  min-width: 1179px;
}
.infoWrapper h1,.price{
  font-size: 18pt;
}
.infoWrapper p{
  font-size: 10pt;
}
.num{
  font-size: 117pt;
}
.article h1{
  font-size: 35pt;
}
.heading h1{
  font-size: 35pt;
  top: 76px;
}
.background2{
  bottom: 8%;
}
.background{
  top: 30%;
}
  }
@media only screen and (max-width: 1334px){
  .wrapper{
    max-width: 850px;
  }
  .arrows{
    bottom: -100px;
    left: 50%;
    transform: translate(-50%)
  }  
  .header{
    width: 100%;
  }
  .surfingTextWrapper{
    top: 10px;
    left: 10px;
  }
  .surfingTextWrapper p{
    color: black;
  }
  .imgTextSection{
    width: 100%;
  }
  .img{
    flex: 1.5;
    align-self: center;
  }
  .videoSectionWrapper{
    flex-direction: column;
  }
  .video{
    transform: translate(0);
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
  .surfboards{
    min-width: 0;
  }
  .article h1{
    font-size: 30pt;
    bottom: 54px;
    left:10px
  }
  .heading h1{
    top: 73px;
    left: 4px;
    font-size: 30pt;
  }
  .article{
    flex: 1;
  }
  .num{
    font-size: 110pt;
  }
  .surfTraining img{
    width: 100%;
  }
  .imgArticleWrapper{
    padding-left: 0;
  }
  .articleimg span {
    position: absolute;
    left: -124px;
  }
  .location{
    font-size: 20pt;
    padding: 34px 0 ;
  }
  .background{
    top: 42%;
  }
  .background2{
    bottom: 11%;
  }
  .contactReadMore :nth-child(1){
    padding-top: 26px;
  }
  .contactImg img{
    left: -79px;
  }
  div.slick-list{
    margin-left: 100px;
  }
}
@media only screen and (max-width: 988px){
  .wrapper{
    max-width: 700px;
  }
  .rightColumn{
    left: 0;
    bottom: -40px;
    transform: rotate(0);
    width: 100%;
  }
  .rightColumn span{
    position: absolute;
    bottom: -10px;
  }
  .socialIcons{
    flex-direction: row;
    bottom: -42px;
    height: initial;
    right: -1px;
  width: 127px;
  bottom: -53px;

  }
  .socialIcons img{
    padding: 10px;
  }
  .slick-slider{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  .surfBackground{
    width: 211px;
    height: 260px;
  }
  .surfImg{
    bottom: 0;
  }
  .infoWrapper{
    text-align: center;
    right: 15px;
    top: 40px;
  }
.priceWrapper{
  padding-top: 135px;
}
  .buy{
    color: #5da8ef;
    font-weight: bold;
    padding-left: 10px;
  }
  .img span{
    transform: rotate(0);
    left: 0;
    width: 100%;
    top: 236px;
  }
  .article2{
    padding: 20px;
  }
  .article h1{
    font-size: 18pt;
  }
  .heading h1{
    font-size: 18pt;
    top: 87px;
  }
  .articleimg span{
    height: 0;
    left: -26px;
    transform: rotate(0);
    margin-right: 0;
    top: 98px;
  }
  .contactInfo{
    justify-content: flex-start;
  }
  .contactImg img{
    left: -62px;
  }
  div.slick-list{
    margin-left: 26px;
    padding-top: 40px;
  }
  .shopHeading{
    padding-top: 90px;
  }
}
@media only screen and (max-width: 764px){
  .wrapper{
    max-width: 574px;
  }
  .surfingSliderWrapper{
    height: 300px;
  }
  .rightColumn{
    bottom: -50px;
  }
  .socialIcons{
    bottom: -66px;
  }
  .arrows{
    bottom: -119px;
  }
  .video{
    padding-top: 0;
  }
  .video video{
    width: 100%;
  }
 
  .sliderImage{
    height: 321px;
  }
  .surfingTextWrapper h1{
    font-size: 20pt;
  }
  .surfingTextWrapper p{
    font-size: 10pt;
    font-weight: bold;
  }
  .pointBreakWrapper{
    padding-top: 50px;
  }
  .shopHeading{
    padding-top: 29px;
  }
  .surfTraining{
    padding-top: 32px;
    flex-direction: column;
    text-align: center;
  }
  .num{
    position: relative;
  }
  .numWrapper h1{
    position: absolute;
    bottom: 34%;
    left: 35%;
  }
  .heading h1{
    position: absolute;
    bottom: 34%;
    left: 37%;
  }
  .rectangle{
    margin: 0 auto 20px auto;
  }
  .read-more{
    padding-top: 0;
    margin: 20px auto;
  }
  .imgArticleWrapper{
    display: flex;
    flex-direction: column;
  }
  .articleimg{
    order: 2;
  }
  .article2{
    order: 1;
  }
  .headingWrapper{
    text-align: center;
  }
  .articleimg img{
    width: 100%;
  }
  .articleimg span{
    top: initial;
    left: 0;
  }
  .contact{
    flex-direction: column;
  }
  .contactImg img{
    left: 0;
  }
  .contactImg{
    height: 398px;
  }
  .contactInfo{
    text-align: center;
  }
  .subscribeWrapper{
    width: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .email{
    width: 80%;

  }
  .imgTextSection img{
    width: 100%;
  }
  .img span{
    top: 352px;
  }
  div.slick-list{
    margin-left: 26px ;
    padding-top: initial;
    padding-top: 50px;
  }
  .background2{
    bottom: 16%;
  }
  .background{
    top: 32%;
  }
}
@media only screen and (max-width: 611px){
  .wrapper{
    width: 320px;
    margin: 0 auto;
  }
  .header{
    display: flex;
    flex-direction: column;
  }
  .menu{
    width: initial;
    padding-top: 20px;
    letter-spacing: initial;
    font-size: 6pt;
  }
  .footer ul{
    width:  initial;
  }
  .menu a{
    padding: 10px;
  }
  .surfingTextWrapper h1{
    font-size: 15pt;
  }
  .surfingTextWrapper p{
   display: none;
  }
  .sliderImage{
    height: 180px;
  }
  .email button{
    width: 36px;
  }
  .rightColumn{
    bottom: 106px;
  }
  .socialIcons{
    bottom: 51px;
    left: 32%;
  }
  .arrows{
    bottom: 0;
  }
  .surfingVideo{
    padding-top: 50px;
  }
  .surfingVideo p{
    font-size: 15pt;
  }
  .surfTraining{
    padding-top: 20px;
  }
  hr{
    width: 70px;
    margin: 64px auto 100px auto;
  }
  .paragraphWrapper {
    width: initial;
  }
  .video,video{
    height: initial;
  }
  .shopHeading h1{
   font-size: 32pt;
  }
 .img span {
    top: 199px;
 }
 .joinClub h1{
   font-size: 32pt;
 }
 .joinClub hr {
  margin: 77px auto 102px auto;}
.numWrapper h1{
  left: 22%;
}
.heading h1{
  left: 26%;
}
.contactImg{
  height: 232px;
}
.contact{
  padding: 44px 0;
}
.background2{
  bottom: 19%;
}
.background{
  top: 32%;
}
.surfImg{
  height:389px
}
.contactInfo{
  margin-top: initial;
}
div.slick-list{
  margin-left: 52px ;
  padding-top: initial;
}
button.slick-arrow.slick-prev{
  left: -18px;
}
}
@media only screen and (max-width: 356px){
.wrapper{
  width: 288px;
}
.menu a{
  padding:4px ;
}
.rightColumn span {
  letter-spacing: 5px;
}
.socialIcons{
  left: 29%;
}
div.slick-list{
  margin-left: 37px;
}
.numWrapper h1{
  left: 18%;
}
.background2{
  bottom: 21%;
  }
}